<!--  include another view file (partial) inside a .ejs view file -->
<head>
   </head>
   <div>
       <h1 class="mt-4">My Feed</h1>
   
       <div class = "card-body" id="user-profile">
       </div>
       <div class = "card-body" id="tweet-table-1">
           <div>   
                <ul class="list-group">
                   <% for(var i = tweets.length-1; i >= 0; i--) { %>
                       <div>
                        <!-- <%= tweetId= tweets[i]._id%> -->
                           <li class="list-group-item" id=<%= "li-"+tweets[i]._id %>>
                            <h5 style="color:darkblue"><%= tweets[i].first_name + " " + tweets[i].last_name %></h5>
                            <p><%= tweets[i].tweet %></p>
                            <p>Like counter: <%= tweets[i].liked_by.length %> </p>
                            <% if(!tweets[i].liked_by.includes(user)) { %>
                            <form>
                                <button type="submit" value="like" id=<%=tweets[i]._id %>>Like</button>
                            </form>
                            <% } %>
                            <% if(tweets[i].liked_by.includes(user)) { %>
                            <form>
                                <button type="submit" value="unlike" id=<%=tweets[i]._id %>>Unlike</button>
                            </form>
                            <% } %>
                            <p><small style="color:darkblue"><%= tweets[i]._id.getTimestamp(); %></small></p>
                           </li>
                       </div>
                   <br />
                   <% } %>
                   </ul>
               </div>
   
           </div>  
       </div>
   
   </div>
   <script src="/js/like.js"></script>
